<div class="widgets-box">
    <div class="sidebar-head"><span>Menu</span></div>
    <div class="sidebar-menu">
        <ul>
            <li><a href="{{ path('admin_article_index') }}">Gestion des articles</a></li>
            <li><a href="{{ path('admin_projet_index') }}">Gestion des projets</a></li>
            <li><a href="{{ path('admin_categorie_index') }}">Gestion des catégories</a></li>
            <li><a href="{{ path('admin_type_index') }}">Gestion des types</a></li>
            <li><a href="{{ path('admin_motcle_index') }}">Gestion des mot clés</a></li>
            <li> -------- </li>
            <li><a href="{{ path('admin_android_index') }}">Gestion des versions d'android</a></li>
            <li><a href="{{ path('admin_point_index') }}">Gestion des points</a></li>
            <li> -------- </li>
            <li><a href="{{ path('admin_quote_index') }}">Gestion des quotes</a></li>
            <li> -------- </li>
            <li><a href="{{ path('admin_update_stat') }}">Mise à jour des stats</a></li>
            <li> -------- </li>
            <li><a href="{{ path('admin_infosite_index') }}">Gestion des sites</a></li>
        </ul>
    </div>
</div>