<div class="widget-footer">
    <div class="container">
        <div class="row">                	
            <div class="col-sm-4">
                <div class="footer-dark">
                    <div class="text-footer">
                        <div class="footer-logo">ANDROID-DEV.FR</div>
                        <div><a href="#">ANDROID-DEV.FR</a>
                            est un site internet sur le développement d'application Android
                            et Web. Ce site a été développé en PHP avec Symfony 3, Bootstrap 3, SASS. </div>

                        <div class="social-icons footer">
                            <ul>
                                <li><a target="_blank" data-original-title="Twitter" title="twitter" data-toggle="tooltip" href="https://twitter.com/androiddevfr"><i class="fa fa-twitter"></i></a></li>                
                                <li><a target="_blank" data-original-title="Facebook" title="facebook" data-toggle="tooltip" href="https://www.facebook.com/androiddev.fr/"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" data-original-title="Google Plus" title="google plus" data-toggle="tooltip" href="https://plus.google.com/+Android-devFr"><i class="fa fa-google-plus"></i></a></li>
                                <li><a target="_blank" data-original-title="RSS" title="flux rss" data-toggle="tooltip" href="{{ path('flux_rss') }}"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                
            </div>
        </div>
    </div>
</div>
<div class="footer-inner">
    <div class="container text-center">
        <p><a href="{{ path('homepage') }}">Accueil</a> | <a href="{{ path('home_article') }}">Articles</a> | <a href="{{ path('home_tuto') }}">Tutos</a> | <a href="{{ path('home_projet') }}">Projets</a> | <a href="{{ path('mentions') }}">Mentions légales</a> | <a href="{{ path('apropos') }}">à propos</a> | <a href="{{ path('contact') }}">Contact</a></p>
        <div>© 2010 - {{ "now"|date("Y") }} | All Rights Reserved.</div>
    </div>
</div>