<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
        <title>{% block title %}Android-dev.fr{% endblock %}</title>
        <meta content="index,follow" name="robots">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Android-dev">
        <link rel="canonical" href="{% block urlCanonical %}{% endblock %}" />
        {% block stylesheets %}
            {% stylesheets filter="scssphp" output="css/app.css"
                    "assets/scss/_bootstrap.scss"
                    "assets/scss/font-awesome/font-awesome.scss"
                    "assets/scss/fancybox/jquery.fancybox.css"
                    "assets/scss/shortcodes.scss"
                    "assets/scss/menuzord.scss"
                    "assets/scss/owl/owl.carousel.css"
                    "assets/scss/syntaxhighlighter/shCore.css"
                    "assets/scss/syntaxhighlighter/shThemeDefault.css"
                    "assets/scss/app.scss"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% block nextstylesheets %}
                {% block meta %}{% endblock %}
            {% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        {% endblock %}

        <section id="body-content">
            <div class="row">
                
                {% block bodyContent %}
                {% endblock %}
            </div>
        </section>

        {% block footer %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/app.js"
                    "assets/js/jquery.js"
                    "assets/js/bootstrap.js"
                    "assets/js/menuzord.js"
                    "assets/js/masonry.js"
                    "assets/js/imagesLoaded.js"
                    "assets/js/jquery.fancybox.js"
                    "assets/js/jquery.fancybox.pack.js"
                    "assets/js/owl.carousel.min.js"
                    "assets/js/main.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shCore.js"
                    "assets/js/syntaxhighlighter/shCore.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushXml.js"
                    "assets/js/syntaxhighlighter/shBrushXml.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushJava.js"
                    "assets/js/syntaxhighlighter/shBrushJava.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushBash.js"
                    "assets/js/syntaxhighlighter/shBrushBash.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushCss.js"
                    "assets/js/syntaxhighlighter/shBrushCss.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushJScript.js"
                    "assets/js/syntaxhighlighter/shBrushJScript.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushPhp.js"
                    "assets/js/syntaxhighlighter/shBrushPhp.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushSass.js"
                    "assets/js/syntaxhighlighter/shBrushSass.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts filter="?jsqueeze" output="js/shBrushSql.js"
                    "assets/js/syntaxhighlighter/shBrushSql.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block nextJs %}
        {% endblock %}
        
        {% block tracking %}
        {% endblock %}
    </body>
</html>
