{% extends 'admin/index.html.twig' %}

{% block title %}Voir la quote {{ quote.id }} - Android-dev.fr{% endblock %}

{% block body %}
    <h1>Voir la quote {{ quote.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quote.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ quote.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_quote_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_quote_edit', { 'id': quote.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
