{% extends 'admin/index.html.twig' %}

{% block title %} Voir le site {{ infoSite.id }} - Android-dev.fr{% endblock %}

{% block body %}
    <h1>Voir le site "{{ infoSite.titre }}"</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infoSite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ infoSite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ infoSite.description }}</td>
            </tr>
            <tr>
                <th>Entete</th>
                <td>{{ infoSite.entete }}</td>
            </tr>
            <tr>
                <th>Footer</th>
                <td>{{ infoSite.footer }}</td>
            </tr>
            <tr>
                <th>Apropos</th>
                <td>{{ infoSite.aPropos }}</td>
            </tr>
            <tr>
                <th>Codesocial</th>
                <td>{{ infoSite.codeSocial }}</td>
            </tr>
            <tr>
                <th>Codeanalytics</th>
                <td>{{ infoSite.codeAnalytics }}</td>
            </tr>
            <tr>
                <th>Nbbypage</th>
                <td>{{ infoSite.nbByPage }}</td>
            </tr>
            <tr>
                <th>Nbbypagehome</th>
                <td>{{ infoSite.nbByPageHome }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_infosite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_infosite_edit', { 'id': infoSite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
